<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="C:\temp\internal-nlog.log">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target
      xsi:type="File"
      name="LT_MAIN"
      layout="${pad:padding=5:inner=${level:uppercase=true}}
              ${longdate:universalTime=true}
              ${message:exceptionSeparator=||:withException=true}"
      encoding="utf-8"
      fileName="${basedir}/Logs/${date:universalTime=true:format=yyyy-MM-dd}/LT_MAIN.log"
      createDirs="true"
      concurrentWrites="true"
      enableArchiveFileCompression="true"/>
    <target xsi:type="Null" name="blackhole" />
    <target
      xsi:type="File"
      name="LT_DEBUG"
      layout="${pad:padding=5:inner=${level:uppercase=true}}
              ${longdate:universalTime=true}
              ${message:exceptionSeparator=||:withException=true}"
      encoding="utf-8"
      fileName="${basedir}/Logs/${date:universalTime=true:format=yyyy-MM-dd}/LT_DEBUG.log"
      createDirs="true"
      concurrentWrites="true"
      enableArchiveFileCompression="true"/>
    <target
      xsi:type="File"
      name="LT_ERROR"
      layout="${pad:padding=5:inner=${level:uppercase=true}}
              ${longdate:universalTime=true}
              ${callsite:className=true:fileName=false:includeSourcePath=true
                :methodName=true:cleanNamesOfAnonymousDelegates=false:skipFrames=0}
              ${message:exceptionSeparator=||:withException=true}"
      encoding="utf-8"
      fileName="${basedir}/Logs/${date:universalTime=true:format=yyyy-MM-dd}/LT_ERROR.log"
      createDirs="true"
      concurrentWrites="true"
      enableArchiveFileCompression="true" />
  </targets>
  <rules>
    <logger name="Odysseus.*" minlevel="Info" writeTo="LT_MAIN" />
    <logger name="Odysseus.*" minlevel="Trace" maxlevel="Debug" writeTo="LT_DEBUG" />
    <logger name="Odysseus.*" minlevel="Error" writeTo="LT_ERROR" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
  </rules>
</nlog>