/* FONTS */
@import 'https://fonts.googleapis.com/css?family=Open+Sans';

/* MAIN */
html, body{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Open Sans', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p, h1, h2, h3, h4, h5, h6 {
    cursor: default;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #181818;
  z-index: 9999;
  -webkit-box-shadow: -5px 0px 20px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: -5px 0px 20px 0px rgba(0,0,0,0.5);
  box-shadow: -5px 0px 20px 0px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:hover {
    /* GENERATED */
}

::-webkit-scrollbar-thumb:active {
    /* GENERATED */
}

::-webkit-scrollbar-track {
  background: #D8D8D8;
  border: none;
}