<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <link rel="shortcut icon" type="image/ico" href="~/images/icons/favicon.ico">
        <enviroment names="Development">
            <link rel="stylesheet" href="~/css/Shared/site.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/css/Shared/reset.css" asp-append-version="true"  />
            <link rel="stylesheet" href=@ViewData["css_dir_dev"] asp-append-version="true" />
        </enviroment>
        <envirmoment names="Staging,Production">
            <link rel="stylesheet" href="~/min/css/Shared/site.min.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/min/css/Shared/reset.min.css" asp-append-version="true" />
            <link rel="stylesheet" href=@ViewData["css_dir_pro"] asp-append-version="true" />
        </envirmoment>
    </head>
    <body>
        <enviroment names="Development">
            <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
            <script src=@ViewData["js_dir_dev"] asp-append-version="true"></script>
        </enviroment>
        <enviroment names="Staging,Production">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery">
            </script>
            <script src=@ViewData["js_dir_pro"] asp-append-version="true"
                    asp-fallback-src="@ViewData["js_dir_dev"]">
            </script>
        </enviroment>
        @RenderBody()
    </body>
</html>