@{
    ViewData["Title"] = "WAMS";
    ViewData["js_dir_dev"] = "~/js/ClientInterface/ClientInterface.js";
    ViewData["js_dir_pro"] = "~/js/ClientInterface/ClientInterface.min.js";
    ViewData["css_dir_dev"] = "~/css/ClientInterface/ClientInterface.css";
    ViewData["css_dir_pro"] = "~/css/ClientInterface/ClientInterface.min.css";
}
<div class="sscreen">
    <div class="box"><h1>Lorem Ipsum</h1><div class="container"></div></div>
</div>
<div class="top">
    <h1>WAMS</h1>
</div>
<div class="container actions">
    <div class="action" style="float: left;"> <img src="~/images/actions/plus.png" /> </div>
    <div class="action" style="float: right;"> <img src="~/images/actions/status.png" /> </div>
</div>
<div class="container">
    <div class="plan">
        <div class="status"><h3>I</h3></div>
        <div class="description"><p>Name</p></div>
        <div class="button"><img src="~/images/actions/play.png" /></div>
        <div class="button"><img src="~/images/actions/settings.png" /></div>
        <div class="button"><img src="~/images/actions/delete.png" /></div>
    </div>
    <div class="plan">
        <div class="status"><h3>A</h3></div>
        <div class="description"><p>Name</p></div>
        <div class="button"><img src="~/images/actions/pause.png" /></div>
        <div class="button"><img src="~/images/actions/settings.png" /></div>
        <div class="button"><img src="~/images/actions/delete.png" /></div>
    </div>
    <div class="plan">
        <div class="status"><h3>I</h3></div>
        <div class="description"><p>Name</p></div>
        <div class="button"><img src="~/images/actions/play.png" /></div>
        <div class="button"><img src="~/images/actions/settings.png" /></div>
        <div class="button"><img src="~/images/actions/delete.png" /></div>
    </div>
</div>