@{
    ViewData["Title"] = "WAMS";
    ViewData["js_dir_dev"] = "~/js/ClientInterface/ClientInterface.js";
    ViewData["js_dir_pro"] = "~/min/js/ClientInterface/ClientInterface.js";
    ViewData["css_dir_dev"] = "~/css/ClientInterface/ClientInterface.css";
    ViewData["css_dir_pro"] = "~/min/css/ClientInterface/ClientInterface.css";
}
<div class="sscreen" id="ss_settings">
    <div class="box">
        <img src="~/images/actions/delete.png" onclick="javascript: toggle_sscreen('#ss_settings');" />
        <h1>Configuration</h1>
        <div class="container"></div>
    </div>
</div>
<div class="sscreen" id="ss_sysinfo">
    <div class="box">
        <img src="~/images/actions/delete.png" onclick="javascript: toggle_sscreen('#ss_sysinfo');" />
        <h1>SysInfo</h1>
        <div class="container"></div>
    </div>
</div>
<div class="sscreen" id="ss_addplan" style="display: initial;">
    <div class="box">
        <img src="~/images/actions/delete.png" onclick="javascript: toggle_sscreen('#ss_addplan');" />
        <h1>Neuer Plan</h1>
        <div class="container">
            <input type="text" placeholder="Name" />
            <div class="range-wrapper">
                <input type="range" min="1" max="365"/>
                <div class="text"><p>Start Tag</p></div>
                <div class="text right"><p>000</p></div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="top">
        <h1>WAMS</h1>
    </div>
    <div class="container actions">
        <div class="action" style="float: left;" onclick="javascript: toggle_sscreen('#ss_addplan');"> <img src="~/images/actions/plus.png" /> </div>
        <div class="action" style="float: right;" onclick="javascript: toggle_sscreen('#ss_sysinfo');"> <img src="~/images/actions/status.png" /> </div>
    </div>
    <div class="container">
        <div class="plan">
            <div class="status"><h3>I</h3></div>
            <div class="description"><p>Name</p></div>
            <div class="button"><img src="~/images/actions/play.png" /></div>
            <div class="button" onclick="javascript: toggle_sscreen('#ss_settings');"><img src="~/images/actions/settings.png" /></div>
            <div class="button"><img src="~/images/actions/delete.png" /></div>
        </div>
        <div class="plan">
            <div class="status"><h3>A</h3></div>
            <div class="description"><p>Name</p></div>
            <div class="button"><img src="~/images/actions/pause.png" /></div>
            <div class="button" onclick="javascript: toggle_sscreen('#ss_settings');"><img src="~/images/actions/settings.png" /></div>
            <div class="button"><img src="~/images/actions/delete.png" /></div>
        </div>
        <div class="plan">
            <div class="status"><h3>I</h3></div>
            <div class="description"><p>Name</p></div>
            <div class="button"><img src="~/images/actions/play.png" /></div>
            <div class="button" onclick="javascript: toggle_sscreen('#ss_settings');"><img src="~/images/actions/settings.png" /></div>
            <div class="button"><img src="~/images/actions/delete.png" /></div>
        </div>
    </div>
</div>