@{
    ViewData["Title"] = "WAMS";
    ViewData["js_dir_dev"] = "~/js/ClientInterface/ClientInterface.js";
    ViewData["js_dir_pro"] = "~/min/js/ClientInterface/ClientInterface-min.js";
    ViewData["css_dir_dev"] = "~/css/ClientInterface/ClientInterface.css";
    ViewData["css_dir_pro"] = "~/min/css/ClientInterface/ClientInterface-min.css";
}
<div class="sscreen" id="ss_settings">
    <div class="box" id="SSB0">
        <div class="switch">
            <div class="button left" onclick="javascript: ToggleSettingContent()">
                <img src="~/images/actions/switch.png" />
            </div>
            <h1 id="switch-caption">Plan</h1>
            <div class="button right" onclick="javascript: ToggleSettingContent()">
                <img src="~/images/actions/switch.png" />
            </div>
        </div>
        <div class="container" id="ssplan-container">
            <input name="SPN" type="text" placeholder="Name" style="margin-top: 0;"/>
            <div class="range-wrapper">
                <input type="range" name="SeSDR" min="1" max="365" onchange="javascript: DisplayRangeValue('SeSDRD SeSDR');"/>
                <div class="tleft"><p>Start Tag</p></div>
                <div class="tright"><p id="SeSDRD">182</p></div>
            </div>
            <div class="range-wrapper">
                <input type="range" name="SeDR" min="1" max="365" onchange="javascript: DisplayRangeValue('SeDRD SeDR');"/>
                <div class="tleft"><p>Aktive Tage</p></div>
                <div class="tright"><p id="SeDRD">182</p></div>
            </div>
            <div class="finput" id="SPFI"><p id="SPFIP"></p></div>
            <div class="submit" onclick="javascript: ProcessPlanEdit()"><p>Sichern</p></div>
        </div>
        <div class="container hidden" id="ssaction-container">
            <div class="display button" onclick=""><h1>+</h1></div>
            <div class="container actions">
                <div class="action first">
                    <input type="text" name="ActionName" onblur="javascript('ActionName')" placeholder ="TTT-SS:MM | FF | DD" />
                    <div class="delete" onclick="javascript: AlterAction('ActionName');"><img src="~/images/actions/delete.png" /></div>
                </div>
            </div>
            <div class="finput" id="EAFI"><p id="EAFIP"></p></div>
        </div>
    </div>
</div>
<div class="sscreen" id="ss_sysinfo">
    <div class="box" id="SSB1">
        <div class="container">
            <div class="display" style="margin-top: 0;"><h1 id="ddate"></h1></div>
            <div class="display"><h1 id="dvalves"></h1></div>
            <div class="display"><h1 id="dwarnings"></h1></div>
        </div>
    </div>
</div>
<div class="sscreen" id="ss_addplan">
    <div class="box" id="SSB2">
        <div class="container">
            <input name="NPN" type="text" placeholder="Name" style="margin-top: 0;"/>
            <div class="range-wrapper">
                <input type="range" name="SDR" min="1" max="365" onchange="javascript: DisplayRangeValue('SDRD SDR');"/>
                <div class="tleft"><p>Start Tag</p></div>
                <div class="tright"><p id="SDRD">182</p></div>
            </div>
            <div class="range-wrapper">
                <input type="range" name="DR" min="1" max="365" onchange="javascript: DisplayRangeValue('DRD DR');"/>
                <div class="tleft"><p>Aktive Tage</p></div>
                <div class="tright"><p id="DRD">182</p></div>
            </div>
            <div class="finput" id="NPFI"><p id="NPFIP"></p></div>
            <div class="submit" onclick="javascript: ProcessNPForm();"><p>Sichern</p></div>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="top">
        <h1>WAMS</h1>
    </div>
    <div class="container actions">
        <div class="action" style="float: left;" onclick="javascript: toggle_sscreen('#ss_addplan');"> <img src="~/images/actions/plus.png" /> </div>
        <div class="action" style="float: right;" onclick="javascript: toggle_sscreen('#ss_sysinfo');"> <img src="~/images/actions/status.png" /> </div>
    </div>
    <div class="container" id="plan-container">
    </div>
</div>